workflows/Job Hunt.json
{
  "name": "Job Hunt",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8a41d1b5-0b9e-410f-9306-49c0fefb9ac1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "CUSTOM.jobTextSplitter",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "8d482b94-f1dc-4a33-a7c3-9aeb274a9cfd",
      "name": "Job Text Splitter"
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:916522159509:function:scrape_ba",
        "payload": "{ \"max_jobs\": 4000, \"include_details\": true }"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "f7c9021e-0ddc-48cc-a015-ecec6d9e72e8",
      "name": "AWS Lambda",
      "credentials": {
        "aws": {
          "id": "BhgyhrvmsGb0DvSf",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "jobs-ba",
          "mode": "list",
          "cachedResultName": "jobs-ba"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "4c93ca4d-8122-4360-a9a9-a7fef906f37f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MBnBpqty6HRtK9Ou",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "id": "2c4cb328-b971-4550-b543-6cf838649804",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "3oa7Kyuv6Xs218ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}{{ $json.metadata }} {{ $json.original_job_id }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        224
      ],
      "id": "b225a97a-4703-4393-a8e4-aa0c8ce15eb4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        960,
        432
      ],
      "id": "f32f789c-30a3-41ca-9d09-14d101ca29bd",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a job talent recruiter that specializes in jobs at Booz Allen. You take information from a candidate's uploaded CV or Resume, and try to pair them with the best jobs you can based on the information you have in your job database. Try to collect a little information about what the candidate is looking for as well to help you make you decision. If you don't have their resume or CV PDF, you cannot proceed and should keep asking for their file upload. If the \"text\" field is available in the input JSON it means the file was given. At this point you can use the attached RAG to figure out the appropriate jobs based on that information.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1056,
        592
      ],
      "id": "a5368526-b440-4f1d-b03d-63a910250530",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        800
      ],
      "id": "f56b97d3-ee57-45e6-a2bb-43571f3067ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3oa7Kyuv6Xs218ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1104,
        816
      ],
      "id": "366b825f-5f54-4fc9-98bb-577cb033ca43",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "A listing of current job openings posted by Booz Allen on their careers page."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1392,
        768
      ],
      "id": "37eae45a-b0a0-4a09-9fab-2b29a0fc4c6b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "jobs-ba",
          "mode": "list",
          "cachedResultName": "jobs-ba"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1296,
        1024
      ],
      "id": "1d446056-aa2b-4504-a5ab-b81de0782020",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "MBnBpqty6HRtK9Ou",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        1184
      ],
      "id": "55080e6d-d414-485b-954e-e22dff1ced16",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "3oa7Kyuv6Xs218ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1632,
        1024
      ],
      "id": "cdda1549-4702-4215-bb53-7c5c7259a3b5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3oa7Kyuv6Xs218ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        608
      ],
      "id": "37b83535-b7c6-4ca9-8f84-b6e7d9a17526",
      "name": "When chat message received",
      "webhookId": "df54a822-6e0f-40ba-87f5-333886300534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da9559b-aa7e-402a-8460-e05f888195b8",
              "leftValue": "={{ $json.files[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        608
      ],
      "id": "54555780-d7c5-4860-939e-88f7a1b4c518",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        512
      ],
      "id": "98b971e3-8ca4-45ba-8f55-4ee0c59d6aca",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422cde2-0a7c-4d0c-a01b-2a88fd937423",
              "name": "chatInput",
              "value": "={{ $('If').item.json.chatInput }}{{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0cdb9c55-f8ec-426d-8f82-f9e2a221cd1c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        512
      ],
      "id": "48be5da4-2d10-4318-88d8-e183d7644401",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AWS Lambda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Lambda": {
      "main": [
        [
          {
            "node": "Job Text Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Text Splitter": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66ca1ac3-1bc4-48ba-83d1-77d6a5ca9f00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c7759779cdb5c25dffa5955ed40b15fcaf651a5a75d72f4f98d9a7f0e85f7a2"
  },
  "id": "oLaN3Rwjw5vu1aQu",
  "tags": []
}